<div >

  <div class="btn-toolbar col-sm-12 center-block " role="toolbar">

    <div class="btn-group">
      <button class="btn btn-default btn-lg btn-cal "><h2> 1 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 2 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 3 </h2></button>
    </div>
    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal " data-mode="quantity"><h2>Qty</h2></button>
    </div>
  </div>

  <div class="btn-toolbar col-sm-12 center-block" role="toolbar">
    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal "><h2> 4 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 5 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 6 </h2></button>
    </div>
    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal" data-mode="quantity"><h2>Disc</h2></button>
    </div>

  </div>

  <div class="btn-toolbar col-sm-12 center-block" role="toolbar">

    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal "><h2> 7 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 8 </h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2> 9 </h2></button>
    </div>
    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal" data-mode="quantity"><h2>Price</h2></button>
    </div>

  </div>

  <div class="btn-toolbar col-sm-12 center-block" role="toolbar">

    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal "><h2><h2>  +/- </h2></h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2><h2> 0 </h2></h2></button>
      <button class="btn btn-default btn-lg btn-cal "><h2><h2> . </h2></h2></button>
    </div>
    <div class="btn-group ">
      <button class="btn btn-default btn-lg btn-cal" data-mode="quantity"><h2> <= </h2></button>
    </div>
  </div>


</div>

