<% if @taxon.children.blank? %>
  <div data-hook="taxon_products">
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
  </div>
<% end %>

<% unless params[:keywords].present? %>
    <div data-hook="taxon_children">
    <% cache @taxon do %>
      <%= render :partial => 'taxon', :collection => @taxon.children %>
    <% end %>
    </div>
<% end %>
